<!-- .block-banner -->
<div class="block-banner">
    <div class="container">
        <a routerLink="/shop/catalog" class="block-banner__body">
            <div class="block-banner__image block-banner__image--desktop" style="
                    background-size: contain;
                    background-image: url('assets/images/_home/BuyphonedealBanner.png');
                "></div>
            <div class="block-banner__image block-banner__image--mobile" style="
                    background-size: cover;
                    background-image: url('assets/images/_home/BuyphonedealBanner.png');
                "></div>
            <!-- <div class="block-banner__button">
                <a routerLink="/shop/catalog" class="btn btn-sm btn-primary">Shop Now</a
                >
            </div> -->
        </a>
    </div>
</div>
<!-- .block-banner / end -->