<div class="addresses-list">

    <ng-container>
        <div class=" card address-card">
            <div class="address-card__badge">Default</div>
            <div class="address-card__body">
                <div class="address-card__name">{{ userObj?.firstname }} {{userObj?.lastname}}</div>
                <div class="address-card__row">
                    {{ userObj.state }}<br> {{ userObj.postalCode }}<span *ngIf="userObj.city">, </span> {{ userObj.city }}<br> {{ userObj.fullAddress }}
                </div>
                <div class="address-card__row">
                    <div class="address-card__row-title">Phone Number</div>
                    <div class="address-card__row-content">{{ userObj.phoneNumber }}</div>
                </div>
                <div class="address-card__row">
                    <div class="address-card__row-title">Email Address</div>
                    <div class="address-card__row-content">{{ userObj.email }}</div>
                </div>
                <div *ngIf="userObj.companyName" class="address-card__row">
                    <div class="address-card__row-title">Company Name</div>
                    <div class="address-card__row-content">{{ userObj.companyName }}</div>
                </div>
                <div class="address-card__footer">
                    <a routerLink="/account/update-profile">Edit</a>
                </div>
            </div>
        </div>
        <div class="addresses-list__divider"></div>
    </ng-container>
</div>
