<div class="account-menu">
    <form *ngIf="!loggedIn" #loginForm="ngForm" class="account-menu__form">
        <div class="account-menu__form-title">Log In to Your Account</div>
        <div class="form-group">
            <label for="header-signin-email" class="sr-only">Email address</label
            >
            <input
                id="header-signin-email"
                [(ngModel)]="email"
                name="email"
                required
                type="email"
                class="form-control form-control-sm"
                placeholder="Email address"
            />
        </div>
        <div class="form-group">
            <label for="header-signin-password" class="sr-only">Password</label>
            <div class="account-menu__form-forgot">
                <input id="header-signin-password" required [(ngModel)]="password" name="password" type="password" class="form-control form-control-sm" placeholder="Password" />
                <a href="" class="account-menu__form-forgot-link">Forgot?</a>
            </div>
        </div>
        <div class="form-group account-menu__form-button">
            <button (click)="login()" [disabled]="loginForm.invalid" type="submit" class="btn btn-primary btn-sm">
                Login
            </button>
        </div>
        <div class="account-menu__form-link">
            <a routerLink="/account/login" (click)="closeMenu.emit()">Create An Account</a
            >
        </div>
        <app-alert
        *ngIf="showAlert"
        class="mb-2 mt-3"
        [type]="alertType"
        size="sm"
        [dismissible]="true"
        (close)="showAlert = null; activateAccount = false"
    >
        {{ showAlert }}
    </app-alert>
    <div *ngIf="activateAccount"class="account-menu__form-link">
        <a routerLink="/account/account-activation" (click)="closeMenu.emit()">Activate Account</a
        >
    </div>
    </form>
    <div class="account-menu__divider"></div>
    <div *ngIf="loggedIn" class="">
        <a
            routerLink="/account/dashboard"
            class="account-menu__user"
            (click)="closeMenu.emit()"
        >
            <div class="account-menu__user-avatar">
                <img src="assets/images/avatars/avatar-3.jpg" alt="" />
            </div>
            <div class="account-menu__user-info">
                <div class="account-menu__user-name">{{userObj?.firstName}} {{userObj?.lastName}}</div>
                <div class="account-menu__user-email">{{userObj?.email}}</div>
            </div>
        </a>
            <div class="account-menu__divider"></div>
            <ul class="account-menu__links">
                <li>
                    <a routerLink="/account/profile" (click)="closeMenu.emit()">Edit Profile</a
                >
            </li>
            <li>
                <a routerLink="/account/orders" (click)="closeMenu.emit()"
                    >Order History</a
                >
            </li>
            <li>
                <a routerLink="/account/addresses" (click)="closeMenu.emit()"
                    >Addresses</a
                >
            </li>
            <li>
                <a routerLink="/account/password" (click)="closeMenu.emit()"
                    >Password</a
                >
            </li>
        </ul>
        <div class="account-menu__divider"></div>
        <ul class="account-menu__links">
            <li>
                <a (click)="logout(); closeMenu.emit()">Logout</a>
                </li>
            </ul>
        </div>
</div>