<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">Delivery Information</h1>
                    <div class="about-us__text typography">
                        <p>
                            buyphone is a genuine online commercial center that enables Nigerian businesses and shops all over the nation to trade. This implies not all items on buyphone are sold or conveyed by buyphone. What's more, buyphone purchasers and dealers are found in
                            each state in Nigeria. <br /> Given the different components included (the time it takes a merchant to send, the dispatch organization utilized, the separation among purchaser and dealer) conveyance
                            times may fluctuate.
                        </p>
                        <p>
                            Buyphone conveys items to clients all over Nigeria. Lagos 2-5days, Rivers 2-8days, Abuja 1-2days & other states 3-9 days. Multiple purchase from a merchant could be delivered at once or separately but purchase from different merchants/shops are delivered
                            separately.
                        </p>
                        <p>
                            Our BDS might convey your request, or by other dispatch organizations, or by the dealer or the vender's operators, contingent upon whether the thing was sold by Buyphone or an outsider merchant and on the conveyance technique picked by an outsider merchant.
                            You might be called preceding or on a similar day as conveyance to check whether you are accessible to get your request.
                        </p>
                        <p>
                            To track your order visit: <a href="https://www.buyphone.com.ng/trackorder" target="_blank" rel="noopener noreferrer">https://www.buyphone.com.ng/trackorder</a> and enter your Order ID and Email address
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>