<div class="product-tabs" [ngClass]="{ 'product-tabs--layout--sidebar': withSidebar }">
    <div class="product-tabs__list">
        <a href="#tab-description" class="product-tabs__item" [ngClass]="{ 'product-tabs__item--active': tab === 'description' }" (click)="$event.preventDefault(); tab = 'description'">Description</a
        >

        <a
            href="#tab-specification"
            class="product-tabs__item"
            [ngClass]="{
                'product-tabs__item--active': tab === 'specification'
            }"
            (click)="$event.preventDefault(); tab = 'specification'"
            >Specification</a
        >

        <a
            href="#tab-reviews"
            class="product-tabs__item"
            [ngClass]="{ 'product-tabs__item--active': tab === 'reviews' }"
            (click)="$event.preventDefault(); tab = 'reviews'"
            >Reviews</a
        >
    </div>
    <div class="product-tabs__content">
        <div
            class="product-tabs__pane"
            id="tab-description"
            [ngClass]="{ 'product-tabs__pane--active': tab === 'description' }"
        >
            <div class="typography">
                <h3>Product Full Description</h3>
                <div [innerHTML]="product?.fullDescription" class=""></div>
            </div>
        </div>

        <div
            class="product-tabs__pane"
            id="tab-specification"
            [ngClass]="{
                'product-tabs__pane--active': tab === 'specification'
            }"
        >
            <div class="spec">
                <h3 class="spec__header">Specification</h3>
                <div
                    [innerHTML]="product?.fullSpecification"
                    class="spec__section"
                ></div>
            </div>
        </div>

        <div
            class="product-tabs__pane"
            id="tab-reviews"
            [ngClass]="{ 'product-tabs__pane--active': tab === 'reviews' }"
        >
            <div class="reviews-view">
                <div class="reviews-view__list">
                    <h3 class="reviews-view__header">Customer Reviews</h3>

                    <div class="reviews-list">
                        <ol class="reviews-list__content">
                            <li
                                *ngFor="let review of reviewss"
                                class="reviews-list__item"
                            >
                                <div class="review">
                                    <div class="review__avatar">
                                        <!-- <img [src]="review.avatar" alt="" /> -->
                                    </div>
                                    <div class="review__content">
                                        <div class="review__author">
                                            {{ review.firstname }} {{ review.lastname }}
                                        </div>
                                        <div class="review__rating">
                                            <app-rating
                                                [value]="review.rating"
                                            ></app-rating>
                                        </div>
                                        <div class="review__text">
                                            {{ review.reviews }}
                                        </div>
                                        <div class="review__date">
                                            {{ review.dates | date:'medium' }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <div class="reviews-list__pagination">
                            <app-pagination
                                [current]="1"
                                [siblings]="1"
                                [total]="totalPages"
                                (pageChange)="pageEvent($event)"
                            ></app-pagination>
                        </div>
                    </div>
                </div>

                <form *ngIf="isPurchased == true && isReviewed == false && loggedIn" #reviewForm="ngForm" class="reviews-view__form">
                    <h3 class="reviews-view__header">Write A Review</h3>
                    <div class="row">
                        <div class="col-12 col-lg-9 col-xl-8">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="review-stars"
                                        >Review Stars</label
                                    >
                                    <select
                                        id="review-stars"
                                        class="form-control"
                                        [(ngModel)]="rating"
                                        name="rating"
                                    >
                                        <option value="5">5 Stars Rating</option>
                                        <option value="4">4 Stars Rating</option>
                                        <option value="3">3 Stars Rating</option>
                                        <option value="2">2 Stars Rating</option>
                                        <option value="1">1 Stars Rating</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="review-text">Your Review</label>
                                <textarea [(ngModel)]="review"
                                    class="form-control"
                                    id="review-text"
                                    rows="6"
                                    name="review"
                                ></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <button
                                    type="submit"
                                    [disabled]="buttonBusy"
                                    class="btn btn-primary btn-lg" (click)="submitReview()"
                                >
                                    Post Your Review
                                </button>
                            </div>
                        </div>
                    </div>
                    <app-alert (close)="alertMsg = null" class="mt-4" *ngIf="alertMsg" [type]="alertType" [size]="'sm'" [dismissible]="'true'">{{alertMsg}}</app-alert>
                </form>

            </div>
        </div>
    </div>
</div>
