<div class="card">
    <div class="card-header">
        <h5>Order History</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-table">
        <div class="table-responsive-sm">
            <table>
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Delivery Status</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td>
                            <a href="javascript:void(0)" (click)="showDetails(order)">#{{ order.transactionRef }}</a
                            >
                        </td>
                        <td>{{ order.dateOrdered | date: "medium" }}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            &#8358;{{ order.totalPrice }} for
                            {{ order.totalQuantity }} item(s)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-divider"></div>
    <div class="card-footer">
        <app-pagination
            [siblings]="1"
            (pageChange)="changePage($event)"
            [total]="totalPages"
        ></app-pagination>
    </div>
</div>

<ng-template #modal>
    <div class="quickview">
        <button
            class="quickview__close"
            type="button"
            appClick
            (click)="modalRef.hide()"
        >
            <app-icon name="cross-20" size="20"></app-icon>
        </button>
        <app-page-order-details [orderDetails]="orderDetails"></app-page-order-details>
    </div>
</ng-template>