.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login,
.register {
    display: inline;
    cursor: pointer;
    padding: 10px;
}

.textColor {
    color: gray;
}

.tab {
    margin-bottom: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}