<app-page-header [header]="'My Account'" [breadcrumbs]="[
        { label: 'Home', url: '/' },
        { label: 'My Account', url: '' }
    ]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="center row">
            <div class="tab">
                <span (click)="toggle('login')"><h3
                        [ngClass]="{ textColor: changeLoginColor === true }"
                        class="login"
                    >
                        Login
                    </h3></span
                ><span (click)="toggle('register')"
                    ><h3
                        [ngClass]="{ textColor: changeRegisterColor === true }"
                        class="register"
                    >
                        Register
                    </h3></span
                >
            </div>
            <div *ngIf="showLoginForm === 'display'" class="col-md-6 d-flex">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <h3 class="card-title">Login</h3>
                        <form #loginForm="ngForm">
                            <div class="form-group">
                                <label>Email address</label>
                                <input
                                    [(ngModel)]="email"
                                    name="email"
                                    type="email"
                                    class="form-control"
                                    placeholder="Enter email"
                                    required
                                />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input
                                    [(ngModel)]="password"
                                    name="password"
                                    type="password"
                                    class="form-control"
                                    placeholder="Password"
                                    required
                                />
                                <small class="form-text text-muted">
                                    <a href="">Forgotten Password</a>
                                </small>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <span class="form-check-input input-check">
                                        <span class="input-check__body">
                                            <input
                                                class="input-check__input"
                                                type="checkbox"
                                                id="login-remember"
                                            />
                                            <span
                                                class="input-check__box"
                                            ></span>
                <app-icon class="input-check__icon" name="check-9x7" size="9x7"></app-icon>
                </span>
                </span>
                <label class="form-check-label" for="login-remember">Remember Me</label
                                    >
                                </div>
                            </div>
                            <button
                                type="submit"
                                class="btn btn-primary mt-2 mt-md-3 mt-lg-4"
                                (click)="login()"
                                [disabled]="loginForm.invalid"
                            >
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div
                *ngIf="showRegisterForm === 'display'"
                class="col-md-6 d-flex mt-4 mt-md-0"
            >
                <div class="card flex-grow-1 mb-0">
                    <div class="card-body">
                        <h3 class="card-title">Register</h3>
                        <form [formGroup]="registerForm" (submit)="register()">
                            <div class="form-group">
                                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" formControlName="firstname" />
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname" />
            </div>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Enter email" formControlName="email" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="password" />
            </div>
            <div class="form-group">
                <label>Repeat Password</label>
                <input type="password" class="form-control" placeholder="Password" formControlName="confirmPassword" />
            </div>
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" placeholder="Enter Phone Number" formControlName="phone" />
            </div>
            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary mt-2 mt-md-3 mt-lg-4">
                                Register
                            </button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</div>
