<app-page-header [breadcrumbs]="[
    {label: 'Home',        url: '/'},
    {label: 'Track Order', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="card flex-grow-1 mb-0 mt-5">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h1>Track Order</h1>
                        </div>
                        <p class="mb-4 pt-2">
                            Buyphoneng gives you the opportunity to track your orders with just a few clicks.
                        </p>
                        <form #refForm="ngForm" (ngSubmit)="track()">
                            <div class="form-group">
                                <label for="track-order-id">Order ID/Transaction Ref</label>
                                <input id="track-order-id" type="text" [(ngModel)]="ref" required minlength="10" name="ref" class="form-control" placeholder="Order ID / Transaction Ref">
                            </div>
                            <div class="pt-3">
                                <button type="submit" [ngClass]="{'btn-loading': buttonBusy}" [disabled]="refForm.invalid || buttonBusy" class="btn btn-primary btn-lg btn-block">Track</button>
                            </div>
                            <app-alert (close)="alertMsg = null" class="mt-4" *ngIf="alertMsg" [type]="alertType" [size]="'sm'" [dismissible]="'true'">{{alertMsg}}</app-alert>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
