<!-- .topbar -->
<div class="site-header__topbar topbar">
    <div class="topbar__container container">
        <div class="topbar__row">
            <div class="topbar__item topbar__item--link">
                <a class="topbar-link" target="_blank" href="https://merchant.buyphoneng.ng">SELL ON BUYPHONENG</a
                >
            </div>
            <div class="topbar__spring"></div>
            <app-social-links></app-social-links>
        </div>
    </div>
</div>
<!-- .topbar / end -->