<div class="dashboard">
    <div class="dashboard__profile card profile-card">
        <div class="card-body profile-card__body">
            <div class="profile-card__avatar">
                <img src="./assets/images/avatars/avatar-3.jpg" alt="" />
            </div>
            <div class="profile-card__name">{{userObj?.firstname}} {{userObj?.lastname}}</div>
            <div class="profile-card__email">{{userObj?.username}}</div>
            <div class="profile-card__edit">
                <a (click)="navigateTo('/account/profile')" class="btn btn-secondary btn-sm">View Profile</a
                >
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured">
        <div class="address-card__badge">Default Address</div>
        <div class="address-card__body">
            <div class="address-card__name">Account</div>
            <div class="address-card__row">
                {{userObj?.state}}
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Phone Number</div>
                <div class="address-card__row-content">{{userObj?.phoneNumber}}</div>
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Email Address</div>
                <div class="address-card__row-content">{{userObj?.email}}</div>
            </div>
            <div class="address-card__footer">
                <a (click)="navigateTo('/account/update-profile')" class="btn btn-secondary btn-sm">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="dashboard__orders card">
        <div class="card-header">
            <h5>Recent Orders</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td><a href="javascript:void(0)" (click)="showDetails(order)">#{{ order.transactionRef }}</a></td>
                            <td>{{ order.dateOrdered | date:'medium' }}</td>
                            <td>{{ order.status }}</td>
                            <td>&#8358;{{ order.totalPrice }} for {{ order.totalQuantity }} item(s)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #modal>
    <div class="quickview">
        <button class="quickview__close" type="button" appClick (click)="modalRef.hide()">
            <app-icon name="cross-20" size="20"></app-icon>
        </button>
        <app-page-order-details></app-page-order-details>
    </div>
</ng-template>
