<div class="widget-products widget">
    <h4 class="widget__title">{{ header }}</h4>
    <div class="widget-products__list">
        <div *ngFor="let product of products" class="widget-products__item">
            <div class="widget-products__image">
                <div *ngIf="product.images?.length" class="product-image">
                    <a [routerLink]="root.product(product)" class="product-image__body">
                        <img class="product-image__img" [src]="product.images[0].imageUrl" alt="" />
                    </a>
                </div>
                <div *ngIf="!product.images?.length" class="product-image">
                    <a [routerLink]="root.product(product)" class="product-image__body">
                        <img class="product-image__img" src="../../../../assets/images/_dummy/32461.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div class="widget-products__info">
                <div class="widget-products__name">
                    <a [routerLink]="root.product(product)">{{
                        product.name
                    }}</a>
                </div>
                <div class="widget-products__prices">
                    <ng-container *ngIf="product.saleDiscountPrice">
                        <span class="widget-products__new-price">{{ product.salePrice | currency:'NGN':'symbol-narrow' :'3.0' }}</span
                        >{{ " " }}
                        <span class="widget-products__old-price">{{
                            product.saleDiscountPrice | currency:'NGN':'symbol-narrow' :'3.0'
                        }}</span>
                    </ng-container>
                    <ng-container *ngIf="!product.saleDiscountPrice">
                        {{ product.salePrice| currency:'NGN':'symbol-narrow' :'3.0' }}
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>