<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">About Us</h1>
                    <div class="about-us__text typography">
                        <p>
                            The Buyphone.ng brand is a global Ecommerce Portal. Built to serve the growing lifestyle of the world. We are passionate about our e-business and delivery services. We offer wide range of quality mobile phones, laptops, tablets, accessories and all other
                            electronics. We collaborate with major brands and their distributors to bring to “YOU” the classic choice products.
                        </p>
                        <p>
                            We strive for best quality and reliable electronic products while meeting your budget. Our team is made up of professional entrepreneurs groomed on Ecommerce businesses.
                        </p>
                        <p>
                            We are deeply in the strategies of information technology and communication industry and we have built excellent practice areas in strategy, ecommerce and process automation Buyphone.ng provides pickup centers on major clustered cities like Lagos, Abuja,
                            Port Harcourt and others for easy access to products.
                        </p>
                        <p>
                            Our portal provides an order tracking tool for order tracing <a href="https://buyphone.com.ng/shop/track-order" target="_blank" rel="noopener noreferrer">https://buyphone.com.ng/shop/track-order</a>.
                        </p>
                        <p>
                            Kindly contact us via –
                            <br>
                            <a href="mailto:info@buyphone.ng">info@buyphone.ng</a> |
                            <a href="tel:+2348066763488 ">+2348-06676-3488</a> |
                            <a href="https://www.buyphone.ng">www.buyphone.ng</a>
                        </p>

                    </div>
                    <div class="about-us__team">
                        <h2 class="about-us__team-title">Meet Our Team</h2>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <!-- <div class="teammate__avatar d-flex justify-content-center">
                                            <img class="img-fluid about-photo" src="assets/images/teammates/team1.png" alt="" />
                                        </div> -->
                                        <div class="teammate__name">
                                            Sir Paul Chukwuma
                                        </div>
                                        <div class="teammate__position text-muted">
                                            Executive Chairman
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <!-- <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="" />
                                        </div> -->
                                        <div class="teammate__name">
                                            Mr. Bashir Usman
                                        </div>
                                        <div class="teammate__position text-muted">
                                            Director Operations
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <!-- <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="" />
                                        </div> -->
                                        <div class="teammate__name">
                                            Francisca Ijeoma
                                        </div>
                                        <div class="teammate__position text-muted">
                                            Director Sales
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                        <div class="about-us__team-subtitle text-muted mt-4">
                            Want to work in our friendly team?<br /><a routerLink="../contact-us">Contact us</a
                            >
                            and we will consider your candidacy.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
