<div class="card">
    <div class="card-header">
        <h5>Edit Address</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-10 col-xl-8">
                <form (ngSubmit)="update()" #updateForm="ngForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="checkout-first-name">First Name</label>
                            <input type="text" class="form-control" required [(ngModel)]="userObj.firstname" name="firstname" id="checkout-first-name" placeholder="First Name" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="checkout-last-name">Last Name</label>
                            <input type="text" required [(ngModel)]="userObj.lastname" name="lastname" class="form-control" id="checkout-last-name" placeholder="Last Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="checkout-company-name">Company Name
                            <span class="text-muted">(Optional)</span></label
                        >
                        <input
                            type="text"
                            [(ngModel)]="userObj.companyName"
                            name="companyName"
                            class="form-control"
                            id="checkout-company-name"
                            placeholder="Company Name"
                        />
                    </div>
                    <div class="form-group">
                        <label for="checkout-country">State</label>
                        <select type="text" [(ngModel)]="userObj.state" name="state" required id="checkout-country" class="form-control form-control-select2">
                            <option selected value="">Select a state...</option>
                            <option
                                *ngFor="let state of states"
                                [value]="state.properties.state"
                                >{{ state.properties.state }}</option
                            >
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="checkout-street-address">Street Address</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            required
                            [(ngModel)]="userObj.fullAddress"
                            name="fullAddress"
                            id="checkout-street-address"
                            placeholder="Street Address"
                        />
                    </div>
                    <div class="form-group">
                        <label for="checkout-city">Town / City</label>
                        <input type="text" required [(ngModel)]="userObj.city" name="city" class="form-control" id="checkout-city" />
                    </div>
                    <div class="form-group">
                        <label for="checkout-postcode">Postcode / ZIP</label>
                        <input required [(ngModel)]="userObj.postalCode" name="postalCode" type="text" class="form-control" id="checkout-postcode" />
                    </div>
                    <div class="form-group">
                        <label for="checkout-phone">Phone</label>
                        <input required [(ngModel)]="userObj.phoneNumber" name="phoneNumber" type="text" class="form-control" id="checkout-phone" placeholder="Phone" />
                    </div>

                    <div class="form-group mt-3 mb-0">
                        <button (click)="update()" type="submit" [disabled]="updateForm.invalid" class="btn btn-primary">
                            Save
                        </button>
                    </div>
                    <app-alert *ngIf="alertMsg" class="mb-3 mt-3" [type]="alertType" size="sm" [dismissible]="true" (close)="alertMsg = null">{{ alertMsg }}</app-alert>
                </form>
            </div>
        </div>
    </div>
</div>