.img-fit {
    max-width: 100px;
    max-height: 50px;
}

.owl-nav {
    display: flex !important;
    justify-content: center !important;
}

.owl-carousel .owl-nav {
    display: flex !important;
    justify-content: center !important;
}
