<!-- .block-brands -->
<div class="block block-brands" *ngIf="brands?.length">
    <div class="container">
        <app-block-header [header]="'Supported Brands'" [arrows]="true" (prev)="carousel.prev()" (next)="carousel.next()"></app-block-header>
        <div class="block-brands__slider text-center">
            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick #carousel>
                <ng-template *ngFor="let brand of brands" carouselSlide>
                    <div class="block-brands__item">
                        <a href="javascript:void(0)"><img [src]="brand.image" class="img-fluid img-fit" onError="this.src='assets/images/_dummy/buyphone_logomailatest.png'" [alt]="brand.name"></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- .block-brands / end -->
