<app-page-header [header]="'Frequently Asked Questions'" [breadcrumbs]="[
    {label: 'Home',                        url: '../../'},
    {label: 'Frequently Asked Questions',  url: ''}
]"></app-page-header>

<div class="block faq">
    <div class="container">
        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Shipping Information</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What shipping methods are available?</h6>

                            <p>
                                If your purchases comprises of multiple products from different merchants, your things will show up independently. On the off chance that your purchase comprises of products from a merchant, your things may show up together or independently. In the event
                                that your requests show up independently, be rest assured that the remaining item(s) will be conveyed without further ado.
                            </p>

                            <h6>How long does it take to deliver a purchased product?</h6>

                            <p>
                                Buyphone conveys items to clients all over Nigeria. Lagos 2-5, Rivers 2-8, Abuja 1-3 & other states 3-9 days
                            </p>

                            <h6>My order is shipped. How can I track it?</h6>

                            <p>
                                To track your order visit: <a href="https://www.buyphone.com.ng/trackorder" target="_blank">https://www.buyphone.com.ng/trackorder</a>
                            </p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Why does the estimated delivery time vary?</h6>

                            <p>
                                Buyphone is a genuine online commercial center that enables Nigerian businesses and shops all over the nation to trade. This implies not all items on Buyphone are sold or conveyed by Buyphone. What's more, Buyphone purchasers and dealers are found in
                                each state in Nigeria. Given the different components included (the time it takes a merchant to send, the dispatch organization utilized, the separation among purchaser and dealer, and that's just the beginning) conveyance
                                times may fluctuate.
                            </p>

                            <h6>Who will deliver my order?</h6>

                            <p>
                                Your request might be conveyed by Our BDS, by other dispatch organizations, or by the dealer or the vender's operators, contingent upon whether the thing was sold by Buyphone or an outsider merchant and on the conveyance technique picked by an outsider
                                merchant. You might be called preceding or on a similar day as conveyance to check whether you are accessible to get your request.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Payment Information</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>What Payment Options are available on the Portal?</h6>

                            <p>
                                Our portal uses only two payment processors; the PAYSTACK and FLUTTERWAVE. These two payment options provide card payment and other means of payments.
                            </p>

                            <h6>Can I pay for multiple products at once?</h6>

                            <p>
                                The portal allows you to add multiple products to cart and upon checkout a single invoice of payment will be issued and payment is processed at once.
                            </p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>I was debited but the Payment was not successful?</h6>

                            <p>
                                Usually the payment providers’ platform credits back the customer within few hours in incidents like this. However, our support is on 24hours to assist in quick resolution via live chat, ticket and support emails
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq__section">
            <div class="faq__section-title">
                <h3>Orders and Returns</h3>
            </div>
            <div class="faq__section-body">
                <div class="row">
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>How many item can I buy at once?</h6>

                            <p>
                                Our portal allows both single and multiple purchase; just add your items to the cart and checkout when you are done. We also support contract and procurement purchases.
                            </p>
                            <h6>How do you protect buyers?</h6>

                            <p>
                                We offer every one of our clients extreme true serenity. We have you secured 100% on each qualified buy.
                            </p>

                            <h6>What Window is available for Return of Products?</h6>

                            <p>
                                Where the purchased product is not acceptable by the buyer after delivery, the buyer has 7days to return the purchased goods, goods returned after 7days will not be accepted.
                            </p>
                        </div>
                    </div>
                    <div class="faq__section-column col-12 col-lg-6">
                        <div class="typography">
                            <h6>Why do I see different prices for the same product?</h6>

                            <p>
                                Buyphone is your trusted online ecommerce portal that underpins Nigerian business visionaries and we have a wide range of venders vying for business. In this way, you may see a similar item offered by various dealers at various costs. We accept that by
                                supporting these 'outsider' merchants, we can offer you a more extensive item choice, more decision, expanded accommodation, and better valuing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>