<div class="dashboard">
    <div class="dashboard__profile card profile-card">
        <div class="card-body profile-card__body">
            <div class="profile-card__avatar">
                <img src="./assets/images/avatars/avatar-3.jpg" alt="" />
            </div>
            <div class="profile-card__name">Helena Garcia</div>
            <div class="profile-card__email">stroyka@example.com</div>
            <div class="profile-card__edit">
                <a routerLink="../profile" class="btn btn-secondary btn-sm"
                    >Edit Profile</a
                >
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured">
        <div class="address-card__badge">Default Address</div>
        <div class="address-card__body">
            <div class="address-card__name">Content</div>
            <div class="address-card__row">
                Content
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Phone Number</div>
                <div class="address-card__row-content">Content</div>
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">Email Address</div>
                <div class="address-card__row-content">Content</div>
            </div>
            <div class="address-card__footer">
                <a routerLink="/account/addresses/5">Edit Address</a>
            </div>
        </div>
    </div>
    <div class="dashboard__orders card">
        <div class="card-header">
            <h5>Recent Orders</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                        <tr>
                            <th>Order</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="">#Content</a></td>
                            <td>Content</td>
                            <td>Content</td>
                            <td>Content for Content item(s)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
