<app-page-header [header]="'Contact Us'" [breadcrumbs]="[
    {label: 'Home',       url: '../../'},
    {label: 'Contact Us', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="card mb-0 contact-us">
            <div class="contact-us__map">
                <iframe src='https://maps.google.com/maps?q=493+Abogo+Largema+St,+Central+Business+Dis,+Abuja&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'></iframe>
            </div>
            <div class="card-body">
                <div class="contact-us__container">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <h4 class="contact-us__header card-title">Our Address</h4>

                            <div class="contact-us__address">
                                <p>
                                    493 Abogo Largema Street, CBD Abuja 900211, Nigeria<br> Email: info@buyphone.com.ng<br> Phone Number: (080) 66763488
                                </p>

                                <p>
                                    <strong>Opening Hours</strong><br> Monday to Friday: 7am-8pm<br> Saturday: 7am-8pm<br> Sunday: 7am-8pm
                                </p>

                                <p>

                                    <strong>Buyphoneng</strong><br> Buyphone.ng is an ecommerce website where mobile phone buyers and sellers converge; we provide the online marketplace for the Buyers and Sellers. All phones, gadget and other electronic
                                    brands are made available by sellers following our defined terms and conditions.
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <h4 class="contact-us__header card-title">Leave us a Message</h4>

                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="form-name">Your Name</label>
                                        <input type="text" id="form-name" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="form-email">Email</label>
                                        <input type="email" id="form-email" class="form-control" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-subject">Subject</label>
                                    <input type="text" id="form-subject" class="form-control" placeholder="Subject">
                                </div>
                                <div class="form-group">
                                    <label for="form-message">Message</label>
                                    <textarea id="form-message" class="form-control" rows="4"></textarea>
                                </div>
                                <button disabled type="submit" class="btn btn-primary">Send Message</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
